# Alias for the Koha QA tool
alias qa="{{ home_dir }}/qa-test-tools/koha-qa.pl"

# Aliases for reading logs
alias koha-opac-err="sudo tail -f /var/log/koha/{{ koha_instance_name }}/opac-error.log"
alias koha-intra-err="sudo tail -f /var/log/koha/{{ koha_instance_name }}/intranet-error.log"
alias koha-plack-log="sudo tail -f /var/log/koha/{{ koha_instance_name }}/plack.log"
alias koha-plack-err="sudo tail -f /var/log/koha/{{ koha_instance_name }}/plack-error.log"

# Alias for getting into the {{ koha_instance_name }} user, inside {{ koha_dir }}
alias kshell='cd {{ koha_dir }} ; sudo koha-shell {{ koha_instance_name }}'

# Aliases for getting the db/admin user and password for our instance
alias koha-user="sudo xmlstarlet sel -t -v 'yazgfs/config/user' -n '/etc/koha/sites/{{ koha_instance_name }}/koha-conf.xml'"
alias koha-pass="sudo xmlstarlet sel -t -v 'yazgfs/config/pass' -n '/etc/koha/sites/{{ koha_instance_name }}/koha-conf.xml'"

# Aliases for dealing with Less compilation
alias less-opac="lessc --clean-css='--s0 --advanced --compatibility=ie7' \
                    {{ koha_dir }}/koha-tmpl/opac-tmpl/bootstrap/less/opac.less \
                  > {{ koha_dir }}/koha-tmpl/opac-tmpl/bootstrap/css/opac.css"

# Alias to recreate the schema files
alias dbic="sudo mysql -uroot -e 'DROP DATABASE IF EXISTS dbic; CREATE DATABASE dbic' ; \
            cd '{{ koha_dir }}' ; \
            sudo mysql -uroot dbic < installer/data/mysql/kohastructure.sql ;\
            sudo misc/devel/update_dbix_class_files.pl --db_name dbic --db_user root"

# Alias for restarting all needed services
alias restart_all="sudo service memcached restart ; sudo service apache2 reload ; sudo service koha-common restart"

# Alias for running updatedatabase.pl
alias updatedatabase="sudo koha-shell {{ koha_instance_name }} -p -c 'perl {{ koha_dir }}/installer/data/mysql/updatedatabase.pl'"

# Alias for reseting everything koha-related
alias reset_all='read -p "This action will erase all your data. Are you sure? (y/N) " -n 1 -r
                 echo    # move to a new line
                 if [[ $REPLY =~ ^[Yy]$ ]]; then
                    mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"DROP DATABASE koha_{{ koha_instance_name }}"
                    mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"CREATE DATABASE koha_{{ koha_instance_name }}"
                    perl {{ misc4dev_dir }}/do_all_you_can_do.pl \
                                --instance {{ koha_instance_name }} {% if elasticsearch %} --elasticsearch {% endif %}\
                                --userid {{ koha_admin_user }} \
                                --password {{ koha_admin_pass }} \
                                --marcflavour {{ koha_marc_flavour }} \
                                --koha_dir {{ koha_dir }} \
                                --opac-base-url http://{{ koha_opac_prefix }}{{ koha_instance_name }}{{ koha_opac_suffix }}{{ koha_domain }}:{{ koha_opac_port }} \
                                --intranet-base-url http://{{ koha_intra_prefix }}{{ koha_instance_name }}{{ koha_intra_suffix }}{{ koha_domain }}:{{ koha_intra_port }}
                    restart_all
                 else
                    echo "Aborted"
                 fi'

alias reset_all_marc21='read -p "This action will erase all your data. Are you sure? (y/N) " -n 1 -r
                 echo    # move to a new line
                 if [[ $REPLY =~ ^[Yy]$ ]]; then
                    mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"DROP DATABASE koha_{{ koha_instance_name }}"
                    mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"CREATE DATABASE koha_{{ koha_instance_name }}"
                    perl {{ misc4dev_dir }}/do_all_you_can_do.pl \
                                --instance {{ koha_instance_name }} {% if elasticsearch %} --elasticsearch {% endif %}\
                                --userid {{ koha_admin_user }} \
                                --password {{ koha_admin_pass }} \
                                --marcflavour marc21 \
                                --koha_dir {{ koha_dir }} \
                                --opac-base-url http://{{ koha_opac_prefix }}{{ koha_instance_name }}{{ koha_opac_suffix }}{{ koha_domain }}:{{ koha_opac_port }} \
                                --intranet-base-url http://{{ koha_intra_prefix }}{{ koha_instance_name }}{{ koha_intra_suffix }}{{ koha_domain }}:{{ koha_intra_port }}
                    restart_all
                 else
                    echo "Aborted"
                 fi'

alias reset_all_unimarc='read -p "This action will erase all your data. Are you sure? (y/N) " -n 1 -r
                 echo    # move to a new line
                 if [[ $REPLY =~ ^[Yy]$ ]]; then
                    mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"DROP DATABASE koha_{{ koha_instance_name }}"
                    mysql -u koha_{{ koha_instance_name }} -p{{ koha_db_password }} -e"CREATE DATABASE koha_{{ koha_instance_name }}"
                    perl {{ misc4dev_dir }}/do_all_you_can_do.pl \
                                --instance {{ koha_instance_name }} {% if elasticsearch %} --elasticsearch {% endif %}\
                                --userid {{ koha_admin_user }} \
                                --password {{ koha_admin_pass }} \
                                --marcflavour unimarc \
                                --koha_dir {{ koha_dir }} \
                                --opac-base-url http://{{ koha_opac_prefix }}{{ koha_instance_name }}{{ koha_opac_suffix }}{{ koha_domain }}:{{ koha_opac_port }} \
                                --intranet-base-url http://{{ koha_intra_prefix }}{{ koha_instance_name }}{{ koha_intra_suffix }}{{ koha_domain }}:{{ koha_intra_port }}
                    restart_all
                 else
                    echo "Aborted"
                 fi'

alias start_plack_debug='sudo koha-plack --start \
                                         --debugger \
                                         --debugger-path "{{ remote_debugger_dir }}/{{ remote_debugger_package }}" \
                                         --debugger-location "{{ remote_debugger_location }}" \
                                         --debugger-key "{{ remote_debugger_key }}" \
                                         {{ koha_instance_name }}'

alias start_selenium='Xvfb :1 -screen 0 1024x768x24 > /dev/null 2>&1 & \
                      DISPLAY=:1 java -jar selenium.jar 2> /dev/null'
